#include "Frostortho.dtsi"  // 共通のレイアウト定義を読み込む

/ {
    chosen {
        zmk,kscan = &mock_kscan;
        zmk,matrix_transform = &default_transform;
        zmk,physical_layout = &physical_layout0; // これが必要な場合があります
    }

    // ドングル本体には物理ボタンがないので「空の入力」を定義
    mock_kscan: kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };
};