if SHIELD_FROSTORTHO_R

config ZMK_KEYBOARD_NAME
    default "FrostOrtho_R"

config ZMK_SPLIT
    default y


endif

if SHIELD_FROSTORTHO_L

config ZMK_KEYBOARD_NAME
    default "FrostOrtho_L"

config ZMK_SPLIT
    default y

endif

if SHIELD_FROSTORTHO_DONGLE

config ZMK_KEYBOARD_NAME
    default "frostortho_dongle"

config ZMK_KSCAN
    default y

endif